form{
    width: 30%;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    padding: 40px;
    background-color: rgb(171, 210, 255);
  }
  
  body{
    height: 100%;
    line-height: 1;
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
  }
  
  .form_button{  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color:rgb(202, 28, 28);
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 0;
  }
  .form_button:hover{
    background-color: rgb(133, 0, 0); 
  }
  
  .input{
    height: 40px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 4px;
  }

  select[multiple] {
    width: 100%;
  }